{% if dataset == 'amazon' -%}
You will be provided with an Amazon product review, and please select its all possible types from the following taxonomy paths: [{{ candidates }}]. Separate your choices by '||'. Just give the taxonomy paths as shown in the provided list.
{%- elif dataset == 'dbpedia' -%}
You will be provided with a Wikipedia article describing an entity at the beginning, and please select its all possible types from the following taxonomy paths: [{{ candidates }}]. Separate your choices by '||'. Just give the taxonomy paths as shown in the provided list.
{%- elif dataset == 'wos' -%}
You will be provided with an academic abstract, and please select its all possible domain types from the following taxonomy paths: [{{ candidates }}]. Separate your choices by '||'. Just give the taxonomy paths as shown in the provided list.
{%- endif %}
